#titlebar-starter {
  -webkit-app-region: no-drag;
  background-color: $brand-menu;
  border-right: $border-width solid $border-color;
  height: 100%;
  min-width: 20em;
  width: auto;
  overflow-y: hidden;
  display: inline-flex;
  gap: 10px;
  align-content: flex-start;
  align-items: center;
  flex-flow: column wrap;

  > * {
    margin-top: 0.5em;
    margin-left: 1em;
    position: relative;
  }

  .starter-tool-icon-container {
    > .running-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
