#titlebar-starter {
  height: 100%;
  display: flex;
  align-items: center;

  > * {
    margin-left: 2em;
    position: relative;
  }

  .tool-icon {
    height: 48px;
    width: 48px;
  }
}

.titlebar-button {
  border: $border-width solid transparent;
  background-color: transparent;
  padding: 0.2em;
  &:hover {
    border: $border-width solid $brand-clickable;
  }

  > .running-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
